.card-body{
    width:946px;
    height:996px;
    margin-top:33px;
    margin-left:-22px;
    

}
.card-img-top{
    width:58%
}
#id1{
    margin-top: -1059px;
    margin-bottom: 0px;
    margin-left:1121px;
    margin-right: 0px;
    width:410px;

}
#id2{
    margin-top:13px;
    margin-left:-339px;
    color:white;
}
#id3{
    margin-top:14px;
    margin-left:-171px;
}
#id4{
    margin-top:44px;
    margin-left:-378px;
}
#id5{
    margin-top:44px;
    margin-left:-175px;
}
#id6{
    margin-top:34px;
    margin-left:16px;
    
}
#id7{
    margin-top:0px;
    margin-left:0px;
}
#id8{
    width:400px;
    height:400px;
    margin-top:0px;
    margin-left:0px;
    
}

#id8{
    width:400px;
    height:400px;
    margin-top:0px;
    margin-left:0px;
    text-align: start; 
    padding: 10px;
}
.a{
    text-decoration: none;
}
#id9{
    width:400px;
    height:400px;
    margin-top:-399px;
    margin-left:107px;
    text-align: start; 
    padding: 10px;

}
